  body.light {
        background-color: #ffffff;
        color: #000000;
    }

    body.dark {
        background-color: #121212;
        color: #ffffff;
    }

    /* exemplo para cards, tabelas, etc */
    .card.dark {
        background-color: #1f1f1f;
        color: #ffffff;
    }